<div class="landing-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 style="text-align: center;">Hi, I'm Aaron Mednick, and I'm a Full Stack Developer.</h2>
        <p style="text-align: center;">On this page you’ll find past and ongoing projects of mine. I’ve been working in tech for a number years and I’m
currently looking for opportunities to specialize in full stack app development. Thanks in advance for visiting my
page, and if you’d like to get in touch I have a contact form below. </p>
      </div>
    </div>
    </div>
    <br>
  </div>


<style>
@media (max-width: 1020px) {
   h2 {
    font-size: 20px !important;
   }
  }

  @media (max-width: 772px) {
   h2 {
    font-size: 18px !important;
   }
  }
</style>


<div class="avatar">
</div>


<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <h2 style="padding-bottom: 10px; text-align: center; color: black; border-bottom: 1px solid black;">A bit about me:</h2>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    </div>
  </div>
    <p style="margin-top: 10px;">
  I earned a B.S. in Physics with minors in Mathematics and Computer Science at San Jose State University. Upon graduating I worked for Oracle labs doing Quality Assurance on bleeding edge server technology. After Oracle I took on a position as a server platform engineer with Synnex Corporation where I ran tests on servers using mostly BASH scripts that tested PSU and memory integrity. At Synnex I grew significantly as an engineer. I contributed to writing certain test scripts, learned how to properly troubleshoot servers, and learned how to properly manage my responsibilities for certain projects. However, after working at Synnex for about a year and a half I realized that my true passion was in computer programming. I specifically grew an interest in App development. After much consideration I decided to transition into becoming a full-stack web developer. I left Synnex for a nine-week coding bootcamp course at Le Wagon in Montreal, where I learned the elements of becoming a full stack engineer including Ruby on Rails framework and Javascript. Wanting to stay well versed in a quickly changing field, I also took additional courses on Node.JS and React. I’ll be keeping my eye out for the next course or opportunity to help me with building my expertise.  </p>
  <p>

  </p>
</div>


<div class="container" style="margin-top: 50px; text-align: center;">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <h2 style="padding-bottom: 10px; color: black; border-bottom: solid 1px black;">Projects:</h2>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <a href="https://fitness-app-final.herokuapp.com/" style="color: black !important;">
      <div class="card" style="width: 100%; margin-top: 10px;">
        <div class="card-body" " style="background-position: center; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path "transformation_fitness.JPG" %>);">
        </div>
      </div>
      </a>
      <h2 class="text-lg-center" style="margin-top: 10px;">Transformation Fitness</h2>
      <div class="container" style="display: flex; justify-content: center; margin-top: 10px; padding-left: 0px !important; padding-right: 0px !important">

        <p class="text-left" style="padding-right: 5px;">This is a web app I built using Ruby on Rails for a personal trainer. This Rails app doesn't use any databases (yet). Eventually this app will have user functionality in it. </p>
        <p class="text-left" style="padding-left: 5px;">Other features include Postmark to send emails for those who register, ButterCMS for managing content, and Google Maps API for showing a live map.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <a href="https://fittted.herokuapp.com/" style="color: black !important;">
      <div class="card" style="width: 100%; margin-top: 10px;">
        <div class="card-body" style="background-position: center; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path "fitted.JPG" %>);">
        </div>
      </div>
    </a>
    <h2 class="text-lg-center" style="margin-top: 10px;">Fitted</h2>
    <div class="container" style="display: flex; justify-content: center; margin-top: 10px; padding-left: 0px !important; padding-right: 0px !important">
      <p class="text-left" style="padding-right: 5px;">This is a web app I built using Ruby on Rails during the Le Wagon bootcamp. It uses a Postgres database deployed on Heroku. The app is user based, and requires the user to sign up in order to order an outfit. </p>
      <p class="text-left" style="padding-left: 5px;">The outfits are seeded in the database manually. The idea for this app is for the administrator to have full control over what is posted for sale. This app is not fully seeded, and right now only casual outting outfits are available for viewing.</p>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <a href="https://airbnb-aaronjosephm.herokuapp.com/" style="color: black !important;">
      <div class="card" style="width: 100%; margin-top: 10px;">
        <div class="card-body" style="background-position: center; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path "project_warehouse.JPG" %>);">
        </div>
      </div>
    </a>
    <h2 class="text-lg-center" style="margin-top: 10px;">Project Warehouse</h2>
    <div class="container" style="display: flex; justify-content: center; margin-top: 10px; padding-left: 0px !important; padding-right: 0px !important">
      <p class="text-left" style="padding-right: 5px;">This web app was built using Ruby on Rails, and is user based. It was deployed using Heroku, and uses a Postgres database. This app is similar to air bnb, but uses warehouses as rentable spaces instead of apartments or houses.</p>
      <p class="text-left" style="padding-left: 5px;">As a user I can list a warehouse for rent, book a warehouse for an event, and edit/delete bookings made on my warehouses. This app uses the Cloudinary API for uploading photos, and the Google Maps API for showing locations.</p>
    </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <a href="https://warm-lake-61275.herokuapp.com/" style="color: black !important;">
      <div class="card" style="width: 100%; margin-top: 10px;">
        <div class="card-body" style="background-position: center; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path "les_cocktails.JPG" %>);">
        </div>
      </div>
    </a>
    <h2 class="text-lg-center" style="margin-top: 10px;">Mister Cocktail</h2>
      <div class="container" style="display: flex; justify-content: center; margin-top: 10px; padding-left: 0px !important; padding-right: 0px !important">
        <p class="text-left" style="padding-right: 5px;">This web app was built using Ruby on Rails, and was deployed using Heroku with a Postgres database. It does not require the user to make a profile. </p>
        <p class="text-left" style="padding-left: 5px;"> As a user I can create a new cocktail, edit an exisitng cocktail recipe, and delete any cocktail. This app usues Cloudinary to upload the photos for the cocktails.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <a href="https://random-matcher.herokuapp.com/" style="color: black !important;">
      <div class="card" style="width: 100%; margin-top: 10px;">
        <div class="card-body" style="background-position: center; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path "random_matcher.JPG" %>);">
        </div>
      </div>
    </a>
    <h2 class="text-lg-center" style="margin-top: 10px;">Random Matcher</h2>
    <div class="container" style="display: flex; justify-content: center; margin-top: 10px; padding-left: 0px !important; padding-right: 0px !important">
      <p class="text-left" style="padding-right: 5px;">This app was built using the Sinatra framework. It uses Nokogiri to scrape dating profiles, and find the profile with the most similarities to your request. </p>
      <p class="text-left" style="padding-left: 5px;">I added the rake gem to the framework so that I could run it on Heroku. Currently, this app is having issues and I'm working on fixing it.</p>
    </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 50px; margin-bottom: 100px; ">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <h2 style="text-align: center; padding-bottom: 10px; color: black; border-bottom: solid 1px black;">Contact:</h2>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    </div>
  </div>
  <div class="row" style="display: flex; justify-content: center;">
      <p style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px; padding-right: 15px; text-align: center;">If you’d like to get in touch I would love to hear from you. You can contact me through this form and I’ll get back to you.</p>
  </div>
  <%= form_tag(root_path) do %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputName">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name">
        <!-- <input class="form-control" type="text" id="name" placeholder="First Last"> -->
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" type="text" name="message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary btn-lg btn-block" style="border-radius: 0 !important; background-color: #0066FF !important; letter-spacing: 2px;">SEND!</button>
  <% end %>
</div>
