<div class="landing-banner">
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
        <h2 class="text-lg-center" style="letter-spacing: 3px;">Hello, my name is Aaron Mednick and I'm a full stack developer.</h2>
    </div>
    <br>
  </div>
</div>


<div class="avatar">
</div>


<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 style="text-decoration: underline;"><strong>About me:</strong></h1>
  <p style="font-size: 20px;">I was born and raised in the center of the Silicon Valley in San Jose, California.
  I ended up attending San Jose State University where I got a Bachelor’s degree
  in General Physics with a double minor in Math and Computer Science. After
  graduating I worked for Oracle labs doing Quality Assurance on bleeding edge
  server technology. Eventually I was let go from Oracle with many letters of recom-
  mendation. After that I started my new job working for Synnex Corporation. I ended
  up doing a lot of testing on servers using mostly BASH scripts that tested PSU
  , and Memory integrity. My official position at Synnex was “Server Platform Engineer”.</p>

  <p style="font-size: 20px;"> However, after working in this field for about a year and a half I realized that it wasn’t
  what I ultimately wanted to do. I’ve always been greatly intrigued by App development,
  and I decided that it was about time I transitioned fully into becoming a full-stack web
  developer. After leaving my job at Synnex I applied for a coding bootcamp called “Le
  Wagon”, which happens to be the largest coding bootcamp in the world! I moved to
  Montreal, CA to attend the course for nine weeks where I learned all the elements of
  being a full stack engineer. We were taught the Ruby on Rails framework which I still
  use to this day. We also learned about Javascript which is essential to being a web
  developer.</p>

  <p style="font-size: 20px;"> After the course I took it upon myself to take extra online courses that taught me
  Node.JS, and React. My Philosophy is that when it comes to working in any
  field you have to constantly be ready to learn new things if you want to be an expert in
  it. This is especially true in Web Development where things are constantly changing,
  so I’m always prepared to learn new things when it comes to the Web Industry.</p>

  <p style="font-size: 20px;"> On this page you will find past, and current projects that I’ve worked on. If you’re
  interested in hiring me or having me apply then feel free to fill out my contact form!
  Thanks and enjoy.</p>
</div>


<div class="container" style="margin-top: 100px;">
  <div class="row" style="display: flex; justify-content: center;">
    <h1 class="text-lg-center" style="letter-spacing: 3px;"><strong>PROJECTS:</strong></h1>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <a href="https://fitness-app-final.herokuapp.com/">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="<%= image_path "transformation_fitness.png" %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px !important;">Transformation Fitness</h5>
          <p class="card-text" style="font-size: 20px !important;">Get the body you want as soon as possible. With Tranformation Fitness you can find the right meal plan, and workout plan to meet your goals.</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <a href="https://fittted.herokuapp.com/">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="<%= image_path "fitted.png" %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px !important;">Fitted</h5>
          <p class="card-text" style="font-size: 20px !important;">Find the right outfit for the right occassion. Fitted makes clothes shopping simple for men, with good style choices!</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <a href="https://airbnb-aaronjosephm.herokuapp.com/">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="<%= image_path "project_warehouse.png" %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px !important;">Project Warehouse</h5>
          <p class="card-text" style="font-size: 20px !important;">Looking for a warehouse to rent for a party? Project warehouse has a list of warehouses that are available for any kind of party.</p>
        </div>
      </div>
    </a>
    </div>
  </div>
  <div class="row" style="margin-top: 100px;">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <a href="https://warm-lake-41275.herokuapp.com/">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="<%= image_path "cocktail.png" %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px !important;">Mister Cocktail</h5>
          <p class="card-text" style="font-size: 20px !important;">Looking for the right cocktail recipe? Or maybe you want to add one of your own cocktails! Then Mister Cocktail is the right place for you!</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <a href="https://random-matcher.herokuapp.com/">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="<%= image_path "random_matcher.png" %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px !important;">Random Matcher</h5>
          <p class="card-text" style="font-size: 20px !important;">Looking for your soul partner? Random Matcher simplifies the online dating experiencce! Give it a go to see if you can find the one you're looking for!</p>
        </div>
      </div>
    </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="<%= image_path "project_warehouse.png" %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 30px !important;">Black Jack</h5>
          <p class="card-text" style="font-size: 20px !important;">This is a black jack game I made using React JS. Enjoy!</p>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row" style="display: flex; justify-content: center;">
    <h1 class="text-lg-center" style="letter-spacing: 3px;"><strong>CONTACT:</strong></h1>
  </div>
  <%= form_tag(root_path) do %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email * (required)</label>
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputName">Name * (required)</label>
        <input class="form-control" type="text" name="name" placeholder="Name">
        <!-- <input class="form-control" type="text" id="name" placeholder="First Last"> -->
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message (optional)</label>
      <textarea class="form-control" type="text" name="message" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary btn-lg btn-block" style="border-radius: 0 !important; background-color: #0066FF !important; letter-spacing: 2px;">SEND!</button>
  <% end %>
</div>
